.navbar > .container {
  display: flex !important;
  justify-content: center !important;
  margin-left: 0px;
  margin-right: 0px;
}

.navbar-light .navbar-brand {
  font-size: 30px;
  color: red !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(https://cdn0.iconfinder.com/data/icons/user-interface-150/24/List_menu_toggle-512.png) !important;
  font-size: 28px;
}

.navbar-light .navbar-toggler {
  border: none;
}

.nav-link {
  display: flex !important;
  justify-content: center !important;
}
